html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  font-size: 1em;
  text-align: center;
  display: inline-block;
}

.hide {
  display: none
}

button {
  margin-top: 10px;
  display: block;
  padding: 10px;
  width: 100%;
}