html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #F47E7E;
  font-family: 'Dosis', sans-serif;
  overflow-wrap: break-word;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  font-size: 1em;
  text-align: center;
  display: inline-block;
  background-color: #FEE6E6;
  min-height: 96vh;
  padding: 10px 10vw;
  width: 60vw;
  font-family: 'Montserrat Alternates', sans-serif;
}

.hide {
  display: none
}

button {
  margin-top: 10px;
  display: block;
  padding: 10px;
  width: 100%;
}

.mov {
  display: inline-block;
  width: 25%;
  margin: 20px;
}

#indexCard {
  width:60%;
  min-height: 20vw;
  display: inline-block;
  padding: 20px;
  background-color: #B66A6A;
  color: white;
  font-size: 1.5em;
}


h3{
  background-color: #821313;
  margin: 0;
  padding: 2%;
  color: white;
  font-size: 2em;
}

h1, h2 {
  text-align: left;
}

h2{
  margin-left: 20px;
}